*{
    margin: 0;
}
.navbar{
    height: auto;
    background-color: #333333;
    display: flex;
}

.navbar-brand{
    margin-left: 20%; 
}
.navbar-brand img{
    width: 100px;
    height: 50px;
}

.navbar-main{   
    display: flex;
    width: 100%;
    
}

.navbar-main.navbar-menu{
    flex:65%;
    margin: auto;
    list-style-type: none;
    padding-top: 15px;
}

.navbar-menu{
    flex: 65%;
}
.navbar-setting{
    flex: 35%;
}

.navbar-menu li{
    color: white;
    padding-top: 13px;
    width: 150px;
    display: inline-block;
}

.navbar-main.navbar-setting{
    flex:35%;
    margin: auto;
    list-style-type: none;
}

.page-header{
    background-color: grey;
}
.page-image{    
    padding-left: 300px;
    padding-right: 300px;
}
.page-image img{
    width: 100%;
    height: 280px;
}